/* Overriding Bulma styles */
@import 'colors';
@import 'mixins';
@import '~bulma';
@import 'bulma-helpers/css/bulma-helpers.min.css';

// TODO: Move this to a better file
* {
  font-family: 'Lato', 'Open Sans', sans-serif!important;
}

.button {
  border-radius: 8px!important;
}

.columns.container {
  min-height: 100vh;
  margin: 0;
}

.column.is-pull-right {
  justify-content: flex-end;
}

.container {
  overflow: auto;
}

.counter-cell {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  // height: 20px!important;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-align: left;
    th {
      font-weight: normal;
    }
    td {
      padding-bottom: 4px;
      padding-top: 4px;
    }
    .is-button-container {
      max-width: 50px;
    }
    .is-count-container {
      width: 50px!important;
      padding: 0!important;
      // padding-bottom: 4px;
      // padding-top: 4px;
    }
}

.table td, .table th {
  vertical-align: middle!important;
}

.help {
  margin-top: .8em;
  margin-left: .5em;
  color: #888B90;
  button.link {
    text-decoration: underline;
    color: black;
    background-color: transparent;
    border: none;
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
}

.input {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05)!important;
  border-radius: 8px!important;
  border: 1px solid #000000 2%;
  &:focus {
    border-color: $turquoise!important;
  }
}

.is-loader-container {
  min-width: 100%;
  min-height: 100%;
  .circle {
    animation: ripple 5s infinite;
    border-radius: 50%;
    position: absolute;
  }
}

.pl-6 {
  padding-left: 2.5em!important;
}

.pr-6 {
  padding-right: 2.5em!important;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 5vh;
}

.is-body {
  min-height: 50vh;
}

.hero.is-small {
  h1, h2 {
    font-size: 22px;
    line-height: 30px;
  }
  h1 {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  h2 {
    font-weight: 300;
  }
}

.message.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.mini-navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.message-header {
  width: 100%;
}

// .circle-container {
//   width: 300px;
//   height: 300px;
//   overflow: hidden;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   // position: relative;
//   //margin-left: 25%;
// }

@keyframes ripple {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(2.0);
  }
  100% {
    transform: scale(1.0);
  }
}
